html{
	font-family: Courier;
	background-image: url("root/images/background.jpg");
	transition: background-color 0.5s;
	background-color: black;
	background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: screen;
}

h1{
	font-size:65px;
	font-family: Courier;
	color: #1E90FF;
	text-align:center;
	vertical-align:middle;
	text-decoration: none;
}

h2{
	font-size: 40px;
	font-family: Courier;
	color:red;
	text-decoration: none;
}
.pic {
	width:250px;
	height:250px;
	/*border: solid #FF5733 7px;*/
}

a{
	font-size:30px;
	font-family: Courier;
	color:white;
	text-decoration:none;
}

.para{
	font-size:20px;
	font-family: Courier; 
	color:white;
	text-align:center;
	text-decoration: none;
	
}

.names{
	font-size:30px;
	color:#33FF5B;
	width:100%;
	text-align: center;
}

p{
	text-align: middle;
	color:blue;
	width:60%;
	text-align: justify;
}

.descriptions{
	width:55%;
	text-indent: 50px;
	text-align: justify;
}

hr{
	width:60%;
	border-color: #1E90FF;
}

.sidenav {
	font-family:Courier;
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	opacity: 1;
	background:rgba(0,0,0,0.3);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 10px;
}

.sidenav a {
	font-family:Courier;
	padding: 0px 8px 8px 32px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	display: block;
	transition: 0.4s;
	opacity: 1;
}

.sidenav a:hover {
	padding: 0px 8px 8px 32px;
	text-decoration: none;
	font-size: 20px;
	color: red;
	display: block;
	transition: .02s;
}

.sidenav a:hover, .offcanvas a:focus {
	color: red;
}

.first {
	font-family:Courier;
	padding: 8px 8px 0px 32px;
	text-decoration: none;
	font-size: 22px;
	display: block;
	transition: 0.3s;
	opacity: 1.5;
	color: #C80000;
}

.first:hover {
	padding: 8px 8px 0px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #C80000;
	display: block;
	transition: 0.3s;
}

#main {
	padding: 16px;
	transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}

.line { 
	width:80%;
	border-color: #1E90FF;
}

.sideSubtitle{
	font-family: Arial;
	font-size: 25px;
	padding: 8px 8px 8px 32px;
	color: #8733FF;
	display: block;
	transition: 0.4s;
	text-decoration: none;
}

.sidenav .links {
	color:#33FF5B;
	padding: 6px 6px 6px 24px;
}

.sidenav .links a:hover{
	color:#8733FF;
	padding: 2px 2px 2px 24px;
}

#openNavbtn {
	font-size:20px;
}

table {
	color: white;
	text-align: center;
	border-collapse: collapse;
	border: solid 1px #8733FF;
}

th, td { 
	border: solid 1px #8733FF;
	padding: 5px;
}

/*#compSci { 
	color: #FF5733;
}*/

/*for the changing of the X(in process)*/
.sidenav {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}